*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1579547621706-1a9c79d5c9f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
}
#nav{
    position: relative;
    width: 65%;
    height: 8%;
    background-image: url(https://images.unsplash.com/photo-1547623641-d2c56c03e2a7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    left: 15%;
    border-radius: 25px;
    top: 5%;
    display: flex;
    justify-content: space-between;
}
#circle{
    width: 25%;
    height: 50%;
    border-radius: 50%;
    
    border: 1px solid black;
    position: relative;
    left: 51%;
    top: 16%;
}
#crl{
    position: absolute;
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
    border-radius: 50%;
    left: 27%;
    top: 21%;
    background-image: url(https://images.unsplash.com/photo-1643101451925-1268efaec21a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8bmZ0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#main h2{
    position: absolute;
    top: 26%;
    left: 20%;
    font-size: 95px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#main h3{
    position: absolute;
    top: 35%;
    left: 20%;
    font-size: 95px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#main p1{
    position: absolute;
    top: 48%;
    left: 20%;
    font-size: 19px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#now{
    position: absolute;
    width: 9%;
    height: 5%;
    background-color: orange;
    border-radius: 6px;
    top: 52%;
    left: 20%;
}
#now h5{
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 18%;
    left: 11%;
    font-size: 22px;
}
#box{
    position: relative;
    width: 25%;
    height: 33%;
    background-color: white;
    top: 76%;
    left: 64%;
    border-radius: 12px;

}
#box p{
    position: relative;
    left: 19%;
    top: 25%;
    opacity: .7;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#box h2{
    position: relative;
    left: 9%;
    top: 25%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 28px;
}
#box h3{
    position: relative;
    left: 55%;
    top: 2%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 28px;
    color: green;
}
#sqr{
    position: absolute;
    width: 82%;
    height: 20%;
    /* border: 1px solid black; */
    top: 61%;
    left: 10%;
   
}
#sqr h4{
    position: relative;
    top: 5px;
    left: 15px;
    opacity: .7;
}
#crl2{
    position: absolute;
    width: 65%;
    height: 200%;
    background-image: url(https://images.unsplash.com/photo-1643101810684-138e2b7ff529?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjN8fG5mdHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60);
    border-radius: 50%;
    bottom: 339%;
    left: 14%;
}
#bid{
    position: absolute;
    width: 96%;
    height: 84%;
    background-color: black;
    left: 2%;
    top: 88%;
    border-radius: 5px;
}
#bid h4{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 8px;
    bottom: 2%;
    position: absolute;
}
#circle2{
    position: absolute;
    width: 15%;
    height: 30%;
    border-radius: 50%;
    border: 1px solid black;
    left: 17%;
    top: 68%;

}
#crl3{
    position: absolute;
    width: 15%;
    height: 30%;
    border-radius: 50%;
 
    left: 24%;
    top: 59%;
    background-image: url(https://media.istockphoto.com/photos/house-symbol-made-by-wooden-blocks-over-yellow-background-with-picture-id1333926230?b=1&k=20&m=1333926230&s=170667a&w=0&h=1DT9NND1hLy1rsgc0OZ5SotyrSThH8Hn7AbZty-_8Ik=);
    background-position: center;
    background-size: cover;
}
#main p2{
    position: absolute;
    top: 89%;
    left: 55%;
    font-size: 19px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;

}
#left{
    position: relative;
    width: 15%;
    height: 98%;
    /* background-color: red; */
}
#left i{
    font-size: 42px;
    position: relative;
    top: 21%;
    left: 5%;
}
#left h1{
    position: absolute;
    left: 30%;
    bottom: 30%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#center{
    position: relative;
    width: 70%;
    height: 98%;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
}
#center li{
    list-style: none;
}
#center li a{
    position: relative;
    color: black;
    text-decoration: none;
    top: 26px;
    padding: 84px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#center i{
    position: absolute;
    left: 16%;
    top: 38%;
}
#right{
    position: relative;
    width: 15%;
    height: 98%;
    /* background-color: green; */
}

#hello{
    position: relative;
    width: 85%;
    height: 90%;
    background-color: black;
    border-radius: 13px;
    top: 5%;
    left: 5%;
}
#hello h1{
    position: relative;
    left:11%;
    bottom: -18px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 19px;
    opacity: .7;
}